/build/
/gooning/
__pycache__/
*.py[cod]
*.log
.vscode/
minecraft/mods/*.jar
minecraft/mods/**/*.jar
!minecraft/mods/refactorycore-2.4.0.jar
/minecraft/*
!/minecraft/mods/
!/minecraft/config/
!/minecraft/defaultconfigs/
!/minecraft/global_packs/
!/minecraft/kubejs/
!/minecraft/scripts/
!/minecraft/groovy/
!/minecraft/resourcepacks/
