# Ignore
.idea
.vs
.vscode
.VSCodeCounter/
backups/
crash-reports/
datapacks/
downloads/
fancymenu_data/
journeymap/
ldlib/
local/
logs/
mods/
patchouli_books/
profileImage/
resourcepacks/
saves/
screenshots/
shaderpacks/
.curseclient
/emi.json
/minecraftinstance.json
/options.txt
/patchouli_data.json
/rhino.local.properties
/usercache.json
/usernamecache.json
fancymenu_data
fancymenu_data/
kubejs/probe/
modernfix/
ESM/
ESM
modernfix
/gtceu
config/darkness.properties
config/powah.json5
manifest.json
modlist.html
638613108175647714.png
ReFactory Expert (1) (DEV).ico
user-prefs.json
